body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    color: black;
    text-align: center;
}
    
section {
    background-color: #975b2a;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    color: black;
    text-align: center;
    font-style: italic;
}